body {
    /* background-color: blue; */
}


/* navigation----------------------------->>>>>>>>>>>>>>>>>>>>> */

#navbar {
    flex-direction: column;
    position: relative;
}

#navbar ul li a {
    font-size: 1.2 rem;
    padding: 0px 10px;
    padding-bottom: 3px;
}


/* home--------------------------------------->>>>>>>>>>>>>>>>>>>>>>>> */

#home {
    height: 273px;
    padding: 0px 24px;
}

#home::before {
    height: 400px;
}

#home p {
    font-size: 15px;
}


/* sevices---------------------------------------->>>>>>>>>>>>>>>>>>>>>>>>> */

#services {
    flex-direction: column;
}

#services.box {
    padding: 14px;
}


/* client---------------------------------------->>>>>>>>>>>>>>>>>>>>>>>>>>>> */

#clients img {
    width: 66px;
    width: 110px;
    padding: 0px;
    margin: -27px -2px;
}

#clients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /* overflow: hidden; */
}


/* contact us ------------------------------>>>>>>>>> */

#contact-box form {
    width: 80%;
}


/* utility classes------------------------------------->>>>>>>>>>>>>>>>>>>> */

.h-primary {
    font-size: 30px;
}

.btn {
    font-size: 18px;
    padding: 4px 8px;
}

.buggg {
    font-size: 2rem;
    color: rgb(232 237 237 / 97%);
}

.h-primary {
    font-size: 42px;
}

.name1 {
    position: absolute;
    color: #ebecf1;
    text-align: center;
    margin: 10px 42px;
    font-family: 'Baloo Bhaina 2', cursive;
}

.name2 {
    position: absolute;
    color: rgb(72 198 40 / 89%);
    text-align: center;
    margin: 23px 18px;
    font-family: 'Bree Serif', serif;
}

#clients img {
    width: 66px;
    height: 200px;
    width: 170px;
    padding: 10px;
    margin: -31px -2px;
}
